{% load static %}
<!DOCTYPE html>
<html lang="en">

<head lang="ar">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'images/article.ico' %}" type="image/x-icon">
</head>

<body>
    <!-- <script src="{% static 'js/popper.min.js' %}"></script> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/fontawesome-all.min.js' %}"></script>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/image.png' %}" alt="">
                    مدونة
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">رابط</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                أعمالي
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">الموقع الشخصي</a></li>
                                <li><a class="dropdown-item" href="#">المشاريع</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">مرحبا (:</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">أنشاء حساب</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">تسجيل الدخول</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <section class="col-md-8">
                    <!-- {% block content %}
                    {% endblock content %} -->
                </section>

                <aside class="col-md-4">
                    <!-- {% block side-bar %}
                    
                    {% endblock side-bar %} -->
                </aside>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>