{% extends 'base.html' %}
{% load static %}


{% block title %}
Blog
{% endblock title %}


{% block content %}
<!-- <div class="card mb-3">
    <img src="{% static 'images/image.png' %}" class="card-img-top img-fluid" alt="..." height="200px">
    <div class="card-body">
        <h5 class="card-title">هلا والله</h5>
        <p class="card-text">نص تجريبي نص تجريبينص تجريبينص تجريبينص تجريبينص تجريبينص تجريبينص تجريبينص تجريبينص
            تجريبينص تجريبينص تجريبينص تجريبينص تجريبينص تجريبي</p>
        <p class="card-text"><small class="text-muted">مش </small></p>
    </div>
</div> -->
معلم

{% endblock content %}